<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang= "es">
	<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/estiloIndex.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Imports para íconos -->
	<script src="https://kit.fontawesome.com/5e3f8ad041.js" crossorigin="anonymous"></script>
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<!-- Imports para fuentes -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
<title>Indice de masa corporal</title>
</head>
<style>
  .card {
    width: 300px;
    margin: 20px auto;
    background-color: #F3F3F3;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .weight-ideal {
    font-size: 48px;
    font-weight: bold;
    color: #FF4D6A;
  }

  .weight-unit {
    font-size: 24px;
    margin-left: 5px;
    vertical-align: super;
  }
</style>
<body>
	<div class="container-fluid">
        <header th:replace="~{layouts/header :: header}"></header>
        <div class="container">
            <nav th:replace="~{layouts/nav :: nav}"></nav>
        </div>
    </div>
	
	<div class="container">
	  <div class="card">
	    <div class="card-body">
	      <h5 class="card-title" th:text="'Hola ' + ${usuario.nombre} + ' ' + ${usuario.apellido}"></h5>
	      <p class="card-text">¡Tu peso ideal es:</p>
	      <div class="weight-ideal">
	        <span id="weight-ideal-value" th:text="${pesoIdeal}"></span>
	        <span class="weight-unit">kg</span>
	      </div>
	    </div>
	  </div>
	</div>

	<div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>