<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/estiloIndex.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Imports para íconos -->
    <script src="https://kit.fontawesome.com/5e3f8ad041.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Imports para fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
    <!-- Imports para mapa -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <title>Contactanos</title>

</head>

<body>
    <div class="container-fluid">
        <header th:replace="~{layouts/header :: header}"></header>
        <div class="container">
            <nav th:replace="~{layouts/nav :: nav}"></nav>
        </div>
    </div>
    <div class="container">
        <h1>Cómo encontrarnos</h1>
        <p>Visite nuestra página web para contactar a una empresa especializada en servicios de salud y nutrición.
            Ofrecemos asesoramiento
            personalizado y planes de alimentación adaptados a sus necesidades. Mejore su bienestar y alcance sus metas
            de salud con nuestro equipo profesional. ¡Contáctenos hoy mismo!</p>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <i class="bi bi-telephone"></i>
                        <p class="card-title">Detalle de contacto</p>
                        <p class="card-text">Teléfono: 123456789</p>
                        <i class="bi bi-geo-alt"></i>
                        <p class="card-title">Direccion</p>
                        <p class="card-text">Calle Falsa</p>
                        <p class="card-text">Av. Cordoba 883 Piso 9, C1054</p>
                        <p class="card-text">Jujuy</p>
                        <p class="card-text">Argentina</p>
                        <p class="card-title">Siguenos en</p>
                        <ul>
                            <li><a href="https://www.facebook.com/empresa-alimentos-nutricion"
                                    target="_blank">Facebook</a></li>
                            <li><a href="https://www.twitter.com/empresa_alimentos" target="_blank">Twitter</a></li>
                            <li><a href="https://www.instagram.com/empresa_alimentos_nutricion"
                                    target="_blank">Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="sucursal-container-mapa">
                    <img class="sucursal-mapa" th:src="@{../../images/mapa-contacto.png}" alt="imagen mapa sucursales">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <footer th:replace="~{layouts/footer :: footer}"></footer>
    </div>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>