<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang= "es">
	<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.bundle.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/estilosIndex.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inicio</title>
	</head>
	<body>
		<h1>EJEMPLO</h1>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>