<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang= "es">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/estiloIndex.css}">
		<title>Formulario de Recetas</title>
	</head>
	<body>
		<div class="container">
			<form th:action="@{/receta/guardarReceta}" th:object="${Receta}" method="post">
			  <div class="mb-3">
			    <label for="exampleInputEmail1" class="form-label">Nombre</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{nombre}">
			    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
			  </div>
			   <div class="mb-3">
		      <label for="disabledSelect" class="form-label">Categoria</label>
			      <select id="disabledSelect" class="form-select">
			        <option>Disabled select</option>
			      </select>
		      </div>
			  <div class="mb-3">
			    <label for="exampleInputEmail1" class="form-label">Preparación</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{preparacion}">
			    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
			  </div>
			  <div class="mb-3">
			    <label for="exampleInputEmail1" class="form-label">Ingredientes</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{listaIngredientes.nombre}">
			    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>