<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang= "es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/estiloIndex.css}">
    <title>Formulario de Testimonios</title>
</head>
<body>
<div class="container">
    <h1>Formulario de Testimonios</h1>
    <form th:action="@{/testimonios/guardar_testimonio}" th:object="${testimonio}" method="post">
        <div class="mb-3">
            <div class="form-outline">
                <label class="form-label" for="comentario">Su Testimonio</label>
<!--                <input type="text" class="form-control" id="typeText" ">-->
                <textarea class="form-control" id="comentario" rows="4" th:field="*{comentario}"></textarea>
            </div>
        </div>
        <button type="submit" class="btn dropdown-item">Submit</button>
    </form>
</div>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>