<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang= "es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/estiloIndex.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Imports para íconos -->
    <script src="https://kit.fontawesome.com/5e3f8ad041.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Imports para fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
    <title>Testimonios</title>
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{layouts/header :: header}"></header>
    <div class="container">
        <nav th:replace="~{layouts/nav :: nav}"></nav>
    </div>
</div>
<section class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
            <h3 class="mb-4">Testimonials</h3>
            <p class="mb-4 pb-2 mb-md-5 pb-md-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
                numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum
                quisquam eum porro a pariatur veniam.
            </p>
        </div>
    </div>
    <article class="p-4 p-md-5 text-center text-lg-start shadow-1-strong rounded">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body m-3">
                        <div class="row" th:each="testimonio : ${testimonios}">
<!--                            <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">-->
<!--                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20%2810%29.webp"-->
<!--                                     class="rounded-circle img-fluid shadow-1" alt="woman avatar" width="200" height="200" />-->
<!--                            </div>-->
                            <div class="col-lg-8">
                                <p class="text-muted fw-light mb-4" th:text="${testimonio.comentario}"></p>
                                <p class="fw-bold lead mb-2" th:text="${testimonio.usuario.nombre} + ' ' + ${testimonio.usuario.apellido}"><strong></strong></p>
                                <p class="fw-bold text-muted mb-0" th:text="${{testimonio.fecha}}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div class="container-fluid h-100">
        <div class="row text-center d-flex align-items-stretch mb-5">
            <div class="col text-center">
                <button class="btn btn-success btn-lg">
                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalIngresoTestimonio">Crear Testimonio</a>
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalIngresoTestimonio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ingrese su código</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/testimonios/ingreso_testimonio}" method="get">
                        <label for="codigo"></label><input id="codigo" name="codigo" type="text" />
                        <button type="submit" class="btn btn-success mr-2">Ingresar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <footer th:replace="~{layouts/footer :: footer}"></footer>
</div>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
