<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang= "es">
	<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/estilosIndex.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header th:fragment="header">
			
		</header>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>